:root {
  --bg: radial-gradient(125% 125% at 50% 10%, #fff 40%, rgb(25, 139, 246) 100%);;
  --border: #303030;
  --color: #7e7e7e;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: var(--bg);
}
@font-face {
  font-family: 'DrukTextWideLCG Medium';
  src: url('./DrukTextWideLCG\ Medium.ttf') ;
}
@font-face {
  font-family: 'Aux Mono';
  src: url('./Aux\ Mono.ttf') ;
}
.okkk {
  background-color: #2176ec;
  color: white;
  margin-top: 250px;
  top: 80%;
  font-family: 'DrukTextWideLCG Medium', sans-serif;
  font-weight: 100;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none; /* Ensure button text isn't underlined */
  display: inline-block; /* Ensure button takes only necessary width */
}
.font{
  font-family: 'Aux Mono', sans-serif;
}
.okkk:hover {
  background-color: #39a2f9; /* Darker purple on hover */
}

h1,a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Acid Grotesk";
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
  font-size: 30px;
  margin: 0;
}
.diffcolor{
  font-size: 50px;
  top: 60%;
  margin: 0;
  font-family: 'DrukTextWideLCG Medium', sans-serif;
  background: -webkit-linear-gradient(#0b82f1, #0e93f274);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.cosmos {
  position: absolute;
  width: 80px;
  height: 150px;
}

.cosmos-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color);
  animation: fall-and-disapper 5s infinite ease-in-out;
  transform-origin: bottom;
  transform: scale(0);
}

.cosmos-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes fall-and-disapper {
  0% {
    opacity: 0;
    top: 0;
    left: 0;
    transform: scale(1);
  }

  25% {
    opacity: 1;
    transform: scale(1);
  }

  50% {
    top: -200px;
    transform: scale(1);
  }
  100% {
    top: -150px;
    left: -300px;
    transform: scale(0);
  }
}
